<ion-content class="axContentBackground" fullscreen>
  <img src="../../assets/img/logo_axity.png" class="axAxityLogo" />
  <ion-row class="axContent">
    <ion-col col="12" size="6" offset="3">
      <div class="axMenuIconList">
        <ion-img [src]="axityLive"></ion-img>
        <ion-img [src]="axityCreacionesDigitales"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <form [formGroup]="formLogin" (ngSubmit)="login()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <span class="axFormTitle">
                  Login
                </span>
                <ion-input class="axInputForm" type="text" placeholder="Nickname" mode="md" formControlName="nickname">
                  <div class="axValid" *ngIf="formLogin.get('nickname').value && formLogin.get('nickname').valid">
                    <img src="../../assets/img/check.png">
                  </div>
                </ion-input>
                <div class="axInputHint" *ngIf="formLogin.get('nickname').hasError('pattern')">
                  No se aceptan caracteres especiales (!"·$%*Ç), sin acentos y sin espacios.
                </div>
                <ion-input class="axInputForm" type="text" placeholder="Correo" mode="md" formControlName="email">
                  <div class="axValid" *ngIf="formLogin.get('email').value && formLogin.get('email').valid">
                    <img src="../../assets/img/check.png">
                  </div>
                </ion-input>
                <div class="axInputHint" *ngIf="formLogin.get('email').hasError('pattern')">
                  Ingresa un correo válido
                </div>
              </div>
              <div padding>
                <ion-button type="submit" expand="block" class="axBtnForm" color="transparent" fill="clear" mode="ios"
                  [disabled]="formLogin.invalid">
                  Vivir la experiencia
                </ion-button>
              </div>
              <div padding class="axDivRecover">
                <a [routerLink]="['/recover']" class="axBtnRecover">No recuerdo mi Nickname</a>
              </div>
              <div padding>
                <ion-button type="button" expand="block" class="axBtnRegister" color="transparent" fill="clear"
                  mode="ios" [routerLink]="['/register']">
                  Registrarme
                </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-col>
  </ion-row>
</ion-content>