<ion-content class="axContentBackground" fullscreen>
  <img src="../../assets/img/logo_axity.png" class="axAxityLogo" />
  <ion-row class="axContent">
    <ion-col col="12" size="6" offset="3">
      <div class="axMenuIconList">
        <ion-img [src]="axityLive"></ion-img>
        <ion-img [src]="axityCreacionesDigitales"></ion-img>
      </div>
    </ion-col>
    <ion-col>
      <form [formGroup]="formRecover" (ngSubmit)="recover()">
        <ion-grid>
          <ion-row color="primary" justify-content-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <div padding>
                <span class="axFormTitle">
                  Recuperar Nickname
                </span>
                <ion-input class="axInputForm" type="text" placeholder="Correo" mode="md" formControlName="email">
                  <div class="axValid" *ngIf="formRecover.get('email').value && formRecover.get('email').valid">
                    <img src="../../assets/img/check.png">
                  </div>
                </ion-input>
                <div class="axInputHint" *ngIf="formRecover.get('email').hasError('pattern')">
                  Ingresa un correo válido
                </div>
              </div>
              <div padding>
                <ion-button type="submit" expand="block" class="axBtnForm" color="transparent" fill="clear" mode="ios"
                  [disabled]="formRecover.invalid">
                  Enviar
                </ion-button>
              </div>
              <div padding class="axDivRecover">
                <a [routerLink]="['/login']" class="axBtnRecover">Iniciar sesión</a>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-col>
  </ion-row>
</ion-content>